@{
    ViewData["Title"] = ViewBag.title;
}

<h2 id="book-header"></h2>

<div class="container">

    <div  id="page" class="row">
        
    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm">
        </ul>

    </div>

</div> 


<script>

    var first_load = true;





    function getPage(book_name, page)
    {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetFirstPages", "Book")?book_name=' + book_name + '&page=' + page,
                success: function (data)
                {
                    $("#page").html(data[0]);
                    $("#book-header").text($("#book-name").text());
                    var page_number = parseInt($(".page-number").text());
                    var page_count = parseInt($(".page-count").text());
                    $(".img-page").show();

                    $('#pagination-demo').twbsPagination({
                        totalPages: page_count,
                        visiblePages: 5,
                        onPageClick: function (event, page)
                        {
                            //debugger;
                            if (!first_load)
                            {
                                getPage("", page);
                            }
                            first_load = false;
                        }
                    });

                    //var img_count = $(".img-page").length;
                    //if (img_count > 0)
                    //{
                    //    var id = $(".img-page").attr("id");
                    //    var src = $(".img-page").attr("src");
                    //    //debugger;
                    //    $.ajax({
                    //        type: 'GET',
                    //        url: id + '.jpg',
                    //        success: function (data)
                    //        {
                    //            //debugger;            
                    //        },
                    //        error: function (xhr, status, error)
                    //        {
                    //            //debugger;
                    //        }
                    //    })
                    //}
                    //debugger;

                },
                error: function (xhr, status, error)
                {
                    alert("Ошибка ajax\n" + xhr.responseText + '|\n' + status + '|\n' + error);
                },
                dataType: 'JSON'
        });

        //$.get('/Book/BookView??book_name=' + book_name + '&page=' + page);

    }

    $(document).ready(function ()
    {
        getPage("1984GO.txt", 1);
    });

    


</script>