@{
//ViewData["Title"] = ViewBag.title;
}
<link rel="stylesheet" href="~/css/side_menu.css" />
<div id="dialog-message" title="Предупреждение" hidden>
    <div>
        Сначала выделите необходимый текст.
    </div>
    <style>
        .custom-ui-widget-header-warning {
            background: #EBCCCC;
            font-size: 1em;
        }
    </style>
</div>

<audio id="audio" controls></audio>

<div id="play-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="eng-word" class="learn-word">English</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center play-panel">
                        <a id="btn-back" class="btn btn-info" href="#">Назад</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center  play-panel" id="div-start">
                        <a id="btn-start" class="btn btn-success" href="#">Старт</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center  play-panel" id="div-stop" hidden>
                        <a id="btn-stop" class="btn btn-danger" href="#">Стоп</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-center  play-panel">
                        <a id="btn-next" class="btn btn-info" href="#">Вперед</a>
                    </div>
                </div>              
            </div>
            <div class="modal-footer">
                <h1 id="rus-word" class="learn-word">Русский</h1>
            </div>
        </div>
    </div>
</div>


<div id="translate-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content  not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Преводчик</h1>
            </div>
            <div class="container-fluid">
                <div id="select-text" class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center play-panel">
                    <a id="btn-translate" class="btn btn-info" href="#">Перевести по словам</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="words-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Результат перевода</h1>
            </div>
            <div class="container-fluid">
                <table id="words-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>English</th>
                            <th>Русский</th>
                        </tr>
                    </thead>
                    <tbody id="words-table">
                        <tr>
                            <td>
                                <input type="text" value="aedffefwefwef" />
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <style>
                    .modal {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 100%;
                    }
                </style>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 text-center  play-panel" id="div-start">
                    <a id="btn-save" class="btn btn-success" href="#">Сохранить в базу</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">

    <div id="learning-menu" class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 text-center">
            <a id="btn-learn-all" class="btn btn-success" data-toggle="modal" href="#play-panel">Учить все слова на странице</a>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 text-center">
            <a id="btn-learn" class="btn btn-info" data-toggle="modal" href="#play-panel">Учить по предложениям</a>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 text-center">
            <a id="btn-learn-select" class="btn btn-warning" href="#play-panel">Учить выбранное</a>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <a id="btn-call-translate" class="btn btn-info" href="#play-panel">Яндекс.Переводчик</a>
        </div>
    </div>

    <h2 id="book-header"></h2>

    <div id="page" class="row">

    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm"></ul>

    </div>


    <div id="book-play-panel" class="row">
        <div id="book-play-panel">
            <div class="col-xs-0 col-md-4 col-lg-4 text-center">
                
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2 text-center">
                <i class="fa fa-step-backward fa-lg"></i>
            </div>
            <div id="fa_play" class="col-xs-4 col-md-2 col-lg-2 text-center">
                <i class="fa fa-play fa-lg"></i>                
                @*<script>
                    
                </script>*@
            </div>
            <div id="fa_pause" class="col-xs-4 col-md-2 col-lg-2 text-center" hidden>
                <i class="fa fa-pause fa-lg"></i>
                <script>
                    document.getElementById("fa_pause").onmouseenter = function (event)
                    {
                        if (isPlay)
                        {
                            event.target.style.color = 'pink';
                        }
                    }
                    document.getElementById("fa_pause").onmouseleave = function (event)
                    {
                        if (isPlay)
                        {
                            event.target.style.color = '';
                        }
                    }
                    document.getElementById("fa_pause").onclick = function (event)
                    {
                        isPlay = false;
                        $("#fa_play").show();
                        $("#fa_pause").hide();
                    }
                </script>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2 text-center">
                <i class="fa fa-step-forward fa-lg"></i>
            </div>
        </div>
    </div>
    
    

</div>



<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <a class="navmenu-brand visible-md visible-lg" href="#">Название книги</a>
    
    <div class="nav navmenu-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label title="Режим">Режим обучения</label>
                    <select id="learn-mode" class="selectpicker">
                        <option value="sentence">Учить по предложениям</option>
                        <option value="paragraf">Учить по абзацам</option>
                        <option value="page">Учить все слова на странице</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    @*<ul id="learn-mode" class="nav navmenu-nav">

        <li class="active">
            <a id="btn-learn-select" class="btn" href="#play-panel">Учить по предложениям</a>
        </li>
        <li>
            <a id="btn-learn" class="btn" data-toggle="modal" href="#play-panel">Учить по абзацам</a>            
        </li>
        <li>
            
        </li>
    </ul>*@
    <script>
        

    </script>
    

</div>
<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">Название книги</div>
</div>




@*<nav class="navbar navbar-default navbar-fixed-bottom"  style="display:table; width:100%">
    <div class="container"  style="display:table-cell; vertical-align:middle; text-align:center;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand" href="#">
                <div class="col-xs-3 col-lg-3 text-right">
                    <i class="fa fa-step-backward fa-lg" style="color:blueviolet; font-size:180%;"></i>
                </div>
                <div class="col-xs-3 col-lg-3 text-right">
                    <i class="fa fa-stop fa-lg"></i>
                </div>
                <div class="col-xs-3 col-lg-3 text-left">
                    <i class="fa fa-play fa-lg"></i>
                </div>
                <div class="col-xs-3 col-lg-3 text-left">
                    <i class="fa fa-step-forward fa-lg"></i>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main">
                <div>Содержимое основной части --></div> 
            </div>
            
        </div>

        

    </div>
</nav>*@












