@{
//ViewData["Title"] = ViewBag.title;
}

<audio id="audio" controls></audio>

<div id="play-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="eng-word" class="learn-word">English</h1>
            </div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td align="left">
                            <a id="btn-back" class="btn btn-info" href="#">Назад</a>                            
                        </td>
                        <td align="center">
                            <div id="div-start"><a id="btn-start" class="btn btn-success" href="#">Старт</a></div>                            
                            <div id="div-stop" hidden><a id="btn-stop" class="btn btn-danger" href="#">Стоп</a></div>                            
                        </td>
                        <td align="right">
                            <a id="btn-next" class="btn btn-info" href="#">Вперед</a>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <h1 id="rus-word" class="learn-word">Русский</h1>
            </div>
        </div>
    </div>
</div>





<div class="container">

    <div id="learning-menu" class="row">
        <div class="col-md-12 text-center">
            <a id="btn-learn-all" class="btn btn-success" data-toggle="modal" href="#play-panel">Учить все слова на странице</a>
            <a id="btn-learn" class="btn btn-info" data-toggle="modal" href="#play-panel">Учить по предложениям</a>            
        </div>
    </div>

    <h2 id="book-header"></h2>

    <div id="page" class="row">

    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm"></ul>

    </div>

</div>




