@{
//ViewData["Title"] = ViewBag.title;
}
<link rel="stylesheet" href="~/css/side_menu.css" />

<div id="word-test-box" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Тест</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">AAAAAAA</button></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">SSSSSSS</button></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary text-center">DDDDDDD</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <style>
                #word-test-box td{
                    text-align: center;
                }
                #word-test-box td button{
                    width: 100%;
                    position:inherit;
                }
            </style>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button id="btn-next-test" type="button" class="btn btn-info" onclick="btnNextTest_Click()">Следующее</button>
                <button id="btn-repeat-test" type="button" class="btn btn-default" onclick="btnRepeatTest_OnClick(this)">Повторить</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-window" title="" hidden="hidden">
    <div id="dialog_message">        
    </div>      
</div>

<audio id="audio" controls></audio>

<div id="trans-select-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               Перевести выделенный фрагмент? 
            </div>
            <div id="target-text" class="container-fluid">
                             
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center play-panel">
                            <a class="btn-trans-by-text btn btn-info" href="#">Перевести как текст</a>
                            <a class="btn-translate-by-words btn btn-info" href="#">Перевести по словам</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="translate-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content  not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Преводчик</h1>
            </div>
            <div class="container-fluid">
                <div id="select-text" class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center play-panel">
                    <a id="btn-translate" class="btn-translate-by-words btn btn-info" href="#">Перевести по словам</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="words-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content not-transparenr">
            <div class="modal-header">
                <h1 id="eng-word">Результат перевода</h1>
            </div>
            <div class="container-fluid">
                <table id="words-table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>English</th>
                            <th>Русский</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table> 
                <style>
                    .modal {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 100%;
                    }
                </style>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 col-sm-6 col-md-6 text-center  play-panel" id="div-start">
                    <a id="btn-save" class="btn btn-success" href="#">Сохранить в базу</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <a id="btn-call-translate" class="btn btn-info" href="#play-panel">Яндекс.Переводчик</a>
        </div>
    </div>

    <div id="page" class="row">

    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm"></ul>

    </div>


    <div id="book-play-panel" class="row">
        <div id="book-play-panel">
            <div class="col-xs-0 col-md-4 col-lg-4 text-center">                
            </div>

            <div id="vol-control" class="col-xs-4 col-md-3 col-lg-1 text-center">
                <div id="volume"></div>
            </div>

            <div class="col-xs-2 col-md-3 col-lg-1 text-center">
                <i id="fa_sound" class="fa fa-volume-up" aria-hidden="true" style="font-size: 200%;"></i>
            </div>

            <div class="col-xs-2 col-md-3 col-lg-1 text-center">
                <div id="fa_back"><i class="fa fa-step-backward fa-lg"></i></div>
            </div>

            <div class="col-xs-2 col-md-3 col-lg-1 text-center">
                <div id="fa_play">
                    <i class="fa fa-play fa-lg"></i>
                </div>

                <div id="fa_pause" hidden>
                    <i class="fa fa-pause fa-lg"></i>
                    <script>
                        document.getElementById("fa_pause").onmouseenter = function (event)
                        {
                            if (isPlay)
                            {
                                event.target.style.color = 'pink';
                            }
                        }
                        document.getElementById("fa_pause").onmouseleave = function (event)
                        {
                            if (isPlay)
                            {
                                event.target.style.color = '';
                            }
                        }
                        document.getElementById("fa_pause").onclick = function (event)
                        {
                            isPlay = false;
                            $("#fa_play").show();
                            $("#fa_pause").hide();
                            $('#audio')[0].pause();
                        }
                    </script>
                </div>
            </div>

            <div id="fa-next" class="col-xs-2 col-md-3 col-lg-1 text-center">
                <i class="fa fa-step-forward fa-lg"></i>
            </div>
        </div>
    </div>
    
    

</div>



<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <a id="book-header" class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.BookName</a>
    <a id="book-author" class="navmenu-brand visible-md visible-lg" href="#">@ViewBag.BookAuthor</a>
    
    <div class="nav navmenu-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label title="Режим">Режим обучения</label>
                    <select id="learn-mode" class="selectpicker">
                        <option value="sentence">Учить по предложениям</option>
                        <option value="paragraf">Учить по абзацам</option>
                        <option value="page">Учить все слова на странице</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    

</div>
<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">@ViewBag.BookName</div>
</div>


@*<script src="~/js/words_test.js" type="text/javascript"></script>*@














