@{
    ViewData["Title"] = ViewBag.title;
}

<h2 id="book-header"></h2>

<div class="container">

    <div  id="page" class="row">
        @Html.Raw(ViewBag.page)
    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm">
        </ul>

    </div>

</div> 


<script>

    var first_load = true;


    


    @*function getPage(book_name, page)
    {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetFirstPages", "Book")?book_name=' + book_name + '&page=' + page,
                success: function (data)
                { 
                    $("#page").html(data[0]);
                    $("#book-header").text($("#book-name").text());
                    var page_number = parseInt($(".page-number").text());
                    var page_count = parseInt($(".page-count").text());
                    
                    $('#pagination-demo').twbsPagination({
                        totalPages: page_count,
                        visiblePages: 5,                       
                        onPageClick: function (event, page)
                        {
                            //debugger;
                            if (!first_load)
                            {
                                getPage("", page);
                            }
                            first_load = false;
                        }
                    });

                },
                error: function (xhr, status, error)
                {
                    alert("Ошибка ajax\n" + xhr.responseText + '|\n' + status + '|\n' + error);
                },
                dataType: 'JSON'
            });

    }*@

    $(document).ready(function ()
    {
        $('#pagination-demo').twbsPagination({
            totalPages: 8,
            visiblePages: 5,
            onPageClick: function (event, page)
            {
                debugger;
                if (!first_load)
                {
                    getPage("", 0);
                }
                first_load = false;
            }
        });
    });

</script>