@{
    //ViewData["Title"] = ViewBag.title;
}


<div class="container">

    <div id="learning-menu" class="row">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-success">Учить все слова на странице</button>
            <button type="button" class="btn btn-info">Учить по предложениям</button>
        </div>
    </div>

    <h2 id="book-header"></h2>

    <div  id="page" class="row">
        
    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm">
        </ul>

    </div>

</div> 


<script>

    var first_load = true;
    function getPage(page)
    {
        //debugger;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetPage", "Book")?page=' + page,
                success: function (data)
                {
                    $("#page").html(data[0]);
                    $("#book-header").text($("#book-name").text());
                    //var page_number = parseInt($(".page-number").text());
                    var page_count = parseInt($(".page-count").text());

                    if (first_load)
                    {
                        $("title").text($("#book-name").text());
                    }

                    $('#pagination-demo').twbsPagination({
                        totalPages: page_count,
                        visiblePages: 5,
                        onPageClick: function (event, page)
                        {
                            //debugger;
                            if (!first_load)
                            {
                                //debugger;
                                getPage(page);
                            }
                            first_load = false;
                        }
                    });
                },
                error: function (xhr, status, error)
                {
                    alert("Ошибка ajax\n" + xhr.responseText + '|\n' + status + '|\n' + error);
                },
                dataType: 'JSON'
        });
    }

    $(document).ready(function ()
    {
        getPage(1);
    });




</script>