@{
    //ViewData["Title"] = ViewBag.title;
}


<div id="play-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="eng-word" class="learn-word">English</h1>
            </div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td align="left"><a class="btn btn-info" href="#">Назад</a></td>
                        <td align="center">
                            <div id="div-start"><a id="btn-start" class="btn btn-success" href="#">Старт</a></div>
                            <script>
                                $("#btn-start").click(function ()
                                {
                                    $("#div-start").attr("hidden", "hidden");
                                    $("#div-stop").removeAttr("hidden");
                                });
                            </script>
                            <div id="div-stop" hidden><a id="btn-stop" class="btn btn-danger" href="#">Стоп</a></div>
                            <script>
                                $("#btn-stop").click(function ()
                                {
                                    $("#div-stop").attr("hidden", "hidden");
                                    $("#div-start").removeAttr("hidden");

                                });
                            </script>
                        </td>
                        <td align="right"><a class="btn btn-info" href="#">Вперед</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <h1 id="rus-word" class="learn-word">Русский</h1>
            </div>
        </div>
    </div>
</div>





<div class="container">

    <div id="learning-menu" class="row">
        <div class="col-md-12 text-center">
            <a id="btn-learn-all" class="btn btn-success" data-toggle="modal" href="#play-panel">Учить все слова на странице</a>
            <a id="btn-learn" class="btn btn-info" data-toggle="modal" href="#play-panel">Учить по предложениям</a>
            <script>
                document.getElementById("btn-learn-all").onclick = function ()
                {
                    var arr = getWordsOfPage();
                    debugger;
                };

                $("#btn-learn").click(function ()
                {
                    var arr2 = getWordsBySentences();
                    var arr3 = getSelectingWords();
                    debugger;
                    //alert(arr3);
                });
            </script>
        </div>
    </div>

    <h2 id="book-header"></h2>

    <div  id="page" class="row">
        
    </div>

    <div class="row">

        <ul id="pagination-demo" class="pagination-sm">
        </ul>

    </div>

</div> 


<script>

    var first_load = true;
    function getPage(page)
    {
        //debugger;
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetPage", "Book")?page=' + page,
                success: function (data)
                {
                    $("#page").html(data[0]);
                    $("#book-header").text($("#book-name").text());
                    //var page_number = parseInt($(".page-number").text());
                    var page_count = parseInt($(".page-count").text());

                    if (first_load)
                    {
                        $("title").text($("#book-name").text());
                    }

                    $('#pagination-demo').twbsPagination({
                        totalPages: page_count,
                        visiblePages: 5,
                        onPageClick: function (event, page)
                        {
                            //debugger;
                            if (!first_load)
                            {
                                //debugger;
                                getPage(page);
                            }
                            first_load = false;
                        }
                    });                    
                },
                error: function (xhr, status, error)
                {
                    alert("Ошибка ajax\n" + xhr.responseText + '|\n' + status + '|\n' + error);
                },
                dataType: 'JSON'
        });
    }

    $(document).ready(function ()
    {
        getPage(1);
    });




</script>