@{
    ViewData["Title"] = ViewBag.title;
}

<h2 id="book-header"></h2>

<div id="myCarousel" class="carousel slide" data-pause="false">
    <div class="carousel-inner" role="listbox">
        <div id="page0" class="item active">     
           
        </div>
        <div id="page1" class="item">
            
        </div>
        <div id="page2" class="item">
            
        </div>
    </div>
    <a id="chevron-left" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a id="chevron-right" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<script>

    $("#chevron-left").click(function ()
    {
        var n = $(".page-number:visible").text();
        //debugger;
        if (n === "1")
        {
            $("#chevron-left").prop("disabled", true);
        }
    });

    $("#chevron-right").click(function ()
    {
        $("#chevron-left").prop("disabled", false);
    });

</script>



<script>

    $(document).ready(function ()
    {
        myfunction();

        $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFirstPages", "Book")?book_name=1984.txt&page=' + 0,
                success: function (data)
                {
                    for (var i = 0; i < data.length; i++)
                    {
                        $("#page" + i).html(data[i]);
                        if (i === 0)
                        {
                            $("#book-header").text($("#book-name").text());
                            //debugger;
                        }
                    }
                    
                    
                },
                error: function (xhr, status, error)
                {
                    alert("Îøèáêà ajax\n" + xhr.responseText + '|\n' + status + '|\n' + error);
                },
                dataType: 'JSON'
            });

    });

    $(window).resize(function ()
    {
        //debugger;
        myfunction();
    });

    function myfunction()
    {
        var w = $(window).width();
        var h = $(window).height() - 250;
        $(".carousel-inner").css("height", h);
    }

</script>