/// <reference path="IntelliSense.less" />
@import (less) "_variables.less";

#pagination-demo {
    display: flex;
    justify-content: center;

    > li {
        > a, > span{
            font-size: 18px;
            border-radius: 8px;
        }        
    }
}

.pagination {
    > li {
        > a, > span {
            position: unset;
            font-size: 18px;
        }
    }
}

.pagination-sm {
    > li {
        > a, > span {
            font-size: 18px;
        }
    }
}

h2, h3, .h2{
    font-size: 130%;
}

.book-page {
    font-size: 150%;
}
@media screen and (max-width: 600px){
    .book-page {
        font-size: 100%;
    }
} 

.book-contents {
    li {
        > a {
            &:active {
                background-color: white;
                color: @main-background-color;
                border-radius: 5px;
            }
        }
    }
}

#test-id {
    width: 50px;
    height: 100px;
    content: url(../images/microphone-solid.svg);

    &:active {
        width: 50px;
        height: 100px;
        content: url(../images/microphone-slash-solid.svg);
    }
}

.clicked {
    .popover {
        padding: 5px;
        text-align: center;
        background-color: @main-background-color;
        border-color: white;
        border-width: 1px;
    }

    .popover-content {
        padding: 5px 2px;
        color: white;
        font-size: 24px;

        div {
            text-indent: 0em;
            text-align: center;
            padding: 0px;
        }
    }

    .popover.bottom {
        > .arrow {
            &:after {
                border-bottom-color: @main-background-color;
            }
        }
    }
}

.fragm-is-studied-dialog, .ui-dialog-titlebar {
    background-color: floralwhite;
    border-width: 0px;
    border-radius: 10px;
    padding: 0px;

    #dialog_message {
        /*color: greenyellow;*/
        text-align: center;
    }

    .ui-dialog-titlebar {
        background-color: @main-background-color;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: white;
    }

    > .ui-dialog-buttonpane {
        padding: 0px;
        border-top-width: 0px;
        background-color: green;
        border-radius: 8px;

        > div {
            button {
                height: 41px;
                margin: 0px;
                background-color: @main-background-color;
                border-width: 2px;
                border-color: @main-background-color;
                border-radius: 0px;
                color: white;
                font-weight: bold;

                &:hover {
                    background-color: @main-background-color + 20;
                    color: white;
                }

                &:active {
                    background-color: white;
                    border-color: white;
                    color: @main-background-color;
                    border-width: 2px;
                    border-color: @main-background-color;
                    font-weight: bold;
                }

                &:focus {
                    outline: none;
                }
            }

            > button {
                &:last-child {
                    margin-right: 0px;
                    border-bottom-right-radius: 8px;
                }
            }

            > button {
                &:first-child {
                    margin-right: 0px;
                    border-bottom-left-radius: 8px;
                }
            }
        }
    }
}

#word-test-box {
    > div {
        > div {
            background-color: floralwhite;

            > div.modal-body {
                background-color: lightblue;

                > div {
                    > div {
                        > table {
                            > tbody {

                                > tr:nth-child(1) {
                                    > td {
                                        > button {
                                            border-color: lightblue;
                                            background-color: lightblue;
                                            color: yellow;
                                            font-size: 32px;
                                            font-weight: bolder;

                                            &:hover {
                                                background-color: lightblue;
                                            }

                                            &:active {
                                                background-color: lightblue;
                                            }
                                        }
                                    }
                                }

                                tr {
                                    td {
                                        button {
                                            font-size: 24px;
                                            border-radius: 10px;
                                            border-color: lightgreen;
                                            margin-bottom: 0.5em;

                                            &:hover {
                                                background-color: aliceblue;
                                            }

                                            &:focus {
                                                outline: none;
                                                background-color: white;
                                            }

                                            &:active {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > div.modal-footer {
                #test-box-btn-close {
                    
                }
            }
        }
    }
}






