/// <reference path="IntelliSense.less" />
@import (less) "_variables.less";

#pagination-demo {
    display: flex;
    justify-content: center;

    > li {
        > a, > span{
            font-size: 18px;
            border-radius: 8px;
        }        
    }
}

.pagination {
    > li {
        > a, > span {
            position: unset;
            font-size: 18px;
        }
    }
}

.pagination-sm {
    > li {
        > a, > span {
            font-size: 18px;
        }
    }
}

h2, h3, .h2{
    font-size: 130%;
}

.book-page {
    font-size: 150%;
}
@media screen and (max-width: 600px){
    .book-page {
        font-size: 100%;
    }
} 

.book-contents {
    li {
        > a {
            &:active {
                background-color: white;
                color: @main-background-color;
                border-radius: 5px;
            }
        }
    }
}

#test-id {
    width: 50px;
    height: 100px;
    content: url(../images/microphone-solid.svg);

    &:active {
        width: 50px;
        height: 100px;
        content: url(../images/microphone-slash-solid.svg);
    }
}

.clicked {
    .popover {
        padding: 5px;
        text-align: center;
        background-color: @main-background-color;
    }

    .popover-content {
        padding: 5px 2px;
        color: white;
        font-size: 24px;

        div {
            text-indent: 0em;
            text-align: center;
            padding: 0px;
        }
    }

    .popover.bottom > .arrow:after {
        border-bottom-color: @main-background-color;
    }
}

.fragm-is-studied-dialog {
    background-color: forestgreen;

    #dialog_message {
        color: white;
        text-align: center;
    }

    .ui-dialog-titlebar {
        background-color: greenyellow;
    }

    > .ui-dialog-buttonpane {
        padding: 4px;
        background-color: green;

        > div > button:nth-child(3) {
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}






