#pagination-demo {
  display: flex;
  justify-content: center;
}
#pagination-demo > li > a,
#pagination-demo > li > span {
  font-size: 18px;
  border-radius: 8px;
}
.pagination > li > a,
.pagination > li > span {
  position: unset;
  font-size: 18px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  font-size: 18px;
}
h2,
h3,
.h2 {
  font-size: 130%;
}
.book-page {
  font-size: 150%;
}
.book-page .img-page {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (max-width: 600px) {
  .book-page {
    font-size: 100%;
  }
}
.book-contents li > a:active {
  background-color: white;
  color: #398cb5;
  border-radius: 5px;
}
#test-id {
  width: 50px;
  height: 100px;
  content: url(../images/microphone-solid.svg);
}
#test-id:active {
  width: 50px;
  height: 100px;
  content: url(../images/microphone-slash-solid.svg);
}
.clicked .popover {
  padding: 5px;
  text-align: center;
  background-color: #398cb5;
  border-color: white;
  border-width: 1px;
}
.clicked .popover-content {
  padding: 5px 2px;
  color: white;
  font-size: 24px;
}
.clicked .popover-content div {
  text-indent: 0em;
  text-align: center;
  padding: 0px;
}
.clicked .popover.bottom > .arrow:after {
  border-bottom-color: #398cb5;
}
.fragm-is-studied-dialog,
.ui-dialog-titlebar {
  background-color: floralwhite;
  border-width: 0px;
  border-radius: 10px;
  padding: 0px;
}
.fragm-is-studied-dialog #dialog_message,
.ui-dialog-titlebar #dialog_message {
  /*color: greenyellow;*/
  text-align: center;
}
.fragm-is-studied-dialog .ui-dialog-titlebar,
.ui-dialog-titlebar .ui-dialog-titlebar {
  background-color: #398cb5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane,
.ui-dialog-titlebar > .ui-dialog-buttonpane {
  padding: 0px;
  border-top-width: 0px;
  background-color: green;
  border-radius: 8px;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button {
  height: 41px;
  margin: 0px;
  background-color: #398cb5;
  border-width: 2px;
  border-color: #398cb5;
  border-radius: 0px;
  color: white;
  font-weight: bold;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:hover,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:hover {
  background-color: #4da0c9;
  color: white;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:active,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:active {
  background-color: white;
  border-color: white;
  color: #398cb5;
  border-width: 2px;
  border-color: #398cb5;
  font-weight: bold;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:focus,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:focus {
  outline: none;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div > button:last-child,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div > button:last-child {
  margin-right: 0px;
  border-bottom-right-radius: 8px;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div > button:first-child,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div > button:first-child {
  margin-right: 0px;
  border-bottom-left-radius: 8px;
}
#word-test-box > div > div {
  background-color: floralwhite;
}
#word-test-box > div > div > div.modal-body {
  background-color: lightblue;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button {
  border-color: lightblue;
  background-color: lightblue;
  color: yellow;
  font-size: 32px;
  font-weight: bolder;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button:hover {
  background-color: lightblue;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button:active {
  background-color: lightblue;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody tr td button {
  font-size: 24px;
  border-radius: 10px;
  border-color: lightgreen;
  margin-bottom: 0.5em;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody tr td button:hover {
  background-color: aliceblue;
}
#word-test-box > div > div > div.modal-body > div > div > table > tbody tr td button:focus {
  outline: none;
  background-color: white;
}