.books-side-menu {
  background-color: #398cb5;
  border-color: #398cb5;
  color: white;
}
.books-side-menu hr {
  margin-left: 16px;
  margin-right: 16px;
}
#books-side-menu .row {
  margin-left: 0px;
  margin-right: 0px;
}
#mobile-top-side-menu {
  margin-left: 0px;
  margin-right: 0px;
}
#top-side-menu {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
#top-side-menu li {
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
}
#top-side-menu li a {
  padding-left: 0px;
  padding-right: 0px;
  color: white;
}
#top-side-menu li a:hover {
  background-color: #4da0c9;
}
#top-side-menu li a:active {
  background-color: white;
  color: #398cb5;
}
#books-side-menu-2 div {
  color: yellow;
}
#btn-side-menu {
  background-color: #398cb5;
  border-color: white;
  border-width: 2px;
}
#btn-side-menu:hover {
  background-color: #4da0c9;
}
#btn-side-menu:active {
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
#btn-side-menu:active .icon-bar {
  background-color: #398cb5;
}
#user-name {
  border-color: transparent;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#user-name:hover {
  color: #ebebeb;
}
#user-name:active {
  background-color: white;
  border-color: transparent;
  color: #398cb5;
  box-shadow: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #398cb5;
}
.nav hr {
  margin-right: 0px;
  margin-left: 0px;
}
.navmenu-nav,
.nav {
  font-size: 110%;
}
#user-name-menu {
  background-color: #398cb5;
  border-color: transparent;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#user-name-menu a {
  color: white;
  margin-left: 4px;
  margin-right: 4px;
}
#user-name-menu a:hover {
  background-color: #398cb5;
  color: gainsboro;
}
#user-name-menu a:active {
  background-color: white;
  color: #398cb5;
}
#user-name-menu:active {
  background-color: white;
}
#book-header,
#book-author {
  color: yellow;
  text-align: center;
}
.book-contents ul {
  list-style: initial;
}
.book-contents ul a {
  color: white;
  text-decoration: none;
}
.book-contents ul a:hover {
  background-color: #4da0c9;
  border-radius: 5px;
}
#learned-mode,
#user-name {
  margin-top: 20px;
}
#learned-mode button,
#user-name button {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: white;
  color: white;
  border-radius: 0px;
  box-shadow: none;
}
#learned-mode button:active,
#user-name button:active {
  background-color: white;
  border-color: transparent;
}
#learned-mode button span:hover,
#user-name button span:hover {
  color: #ebebeb;
}
#learned-mode button span:active,
#user-name button span:active {
  color: #398cb5;
}
#btn-settings {
  background-color: transparent;
  border-color: transparent;
  color: white;
  width: 219px;
  text-align: left;
  border-left-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-right-width: 0px;
  padding-right: 0px;
  padding-left: 10px;
  box-shadow: none;
}
#btn-settings i {
  padding-right: 15px;
  font-size: 130%;
}
#btn-settings:hover {
  color: #ebebeb;
}
#btn-settings:active {
  background-color: white;
  border-color: transparent;
  color: #398cb5;
}