.books-side-menu {
    background-color: #398cb5;
    border-color: #398cb5;
    color: white;
}

#mobile-top-side-menu{
    margin-left: 0px;
    margin-right: 0px;
}

#top-side-menu {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

    #top-side-menu > li {
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
        #top-side-menu > li > a {
            padding-left: 0px;
            padding-right: 0px;
        }
        #top-side-menu > li > a:hover {
            background-color: #5193cc;
        }
            #top-side-menu > li > a:active {
                background-color: white;
                color: #398cb5;
            }
    #top-side-menu > li > a{
        color: white;
    }

#books-side-menu-2 > div{
    color: yellow;
}

#btn-side-menu {
    background-color: #398cb5;
    border-color: white;
    border-width: 2px;
}

    #btn-side-menu:hover {
        background-color: #5193cc;
    }

    #btn-side-menu:active {
        background-color: white;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#btn-side-menu:active .icon-bar {
    background-color: #398cb5;
}

#user-name {
    border-color: transparent;
    color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #398cb5;
}

#user-name-menu {
    background-color: #398cb5;
    border-color: transparent;    
}

#user-name-menu > li > a {
    color: white;
}

    #user-name-menu > li > a:hover{
        background-color: transparent;
        font-weight: bold;
    }















