#book-play-panel {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    background: #398cb5; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 60px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.popover-title {
    padding: 10px;
}

#fa_sound, .fa-play-panel {
    font-size: 150%;
    width: 41px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fa-step-backward, .fa-play, .fa-step-forward, .fa-pause {
    height: 41px;
    padding-top: 13px;
}

.fa-play-panel {
    vertical-align: 15%;
}

    .fa-play-panel:hover {
        /*color: chartreuse;*/
        background-color: #5193cc;
    }

    .fa-play-panel:active {
        background-color: white;
        color: #398cb5;
    }

#volume {
    max-width: 120px;
    margin-top: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    #volume > span {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: white;
        outline-color:transparent;
    }

        #volume > span:hover {
            background-color: chartreuse;
        }

        #volume > span:active {
            border: 3px solid #fff;
            background-color: #398cb5;
        }
