#pagination-demo {
  display: flex;
  justify-content: center;
  padding-right: 0px;
}
#pagination-demo > li > a {
  font-size: 100%;
  border-radius: 8px;
}
.pagination > li > a {
  position: unset;
  font-size: 18px;
}
.pagination-sm > li > a {
  font-size: 18px;
}
h2,
h3,
.h2 {
  font-size: 130%;
  font-weight: bold;
}
.book-page {
  font-size: 150%;
}
.book-page .img-page {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.book-page > figure > p {
  text-align: center;
  text-indent: 0px;
}
@media screen and (max-width: 600px) {
  .book-page {
    font-size: 130%;
  }
}
.book-contents li > a:active {
  background-color: white;
  color: #398cb5;
  border-radius: 5px;
}
#test-id {
  width: 50px;
  height: 100px;
  content: url(../images/microphone-solid.svg);
}
#test-id:active {
  width: 50px;
  height: 100px;
  content: url(../images/microphone-slash-solid.svg);
}
.clicked .popover {
  padding: 5px;
  text-align: center;
  background-color: #398cb5;
  border-color: white;
  border-width: 1px;
  min-width: 3%;
  z-index: 2010 !important;
  /* A value higher than 1010 that solves the problem */
}
.clicked .popover #trans_div {
  font-size: 180%;
  color: yellow;
  font-weight: bold;
  padding-bottom: 6px;
}
.clicked .popover button {
  display: block;
  background-color: #398cb5;
  border-color: #398cb5;
  outline: none;
  box-shadow: none;
  font-size: 90% !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.clicked .popover button .fa-play {
  position: relative;
  left: 0.15em;
}
.clicked .popover button:hover {
  background-color: #57aad3;
  border-color: #57aad3;
}
.clicked .popover button:active {
  background-color: white;
  border-color: white;
  color: #398cb5;
  outline: none;
}
.clicked .popover-title {
  text-indent: 0;
  padding: 0;
  background-color: #398cb5;
  color: white;
}
.clicked .popover-title button {
  /*width: 100%;*/
}
.clicked .popover-title button i {
  font-size: 274%;
  padding: 0;
}
.clicked .popover-title #popover-spinner {
  visibility: hidden;
}
.clicked .popover-content {
  padding: 0;
  color: white;
  font-size: 120%;
}
.clicked .popover-content div {
  text-indent: 0em;
  text-align: center;
  padding: 0px;
}
.clicked .popover-content > div.container div.row {
  margin-left: 0;
  margin-right: 0;
}
.clicked .popover-content > div.container div.row > button {
  border-radius: 0;
  border-top-color: white;
  border-top-width: 0.5px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.clicked .popover.bottom > .arrow:after {
  border-bottom-color: #398cb5;
}
.fragm-is-studied-dialog,
.ui-dialog-titlebar {
  background-color: floralwhite;
  border-width: 0px;
  border-radius: 10px;
  padding: 0px;
}
.fragm-is-studied-dialog #dialog_message,
.ui-dialog-titlebar #dialog_message {
  /*color: greenyellow;*/
  text-align: center;
}
.fragm-is-studied-dialog .ui-dialog-titlebar,
.ui-dialog-titlebar .ui-dialog-titlebar {
  background-color: #398cb5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane,
.ui-dialog-titlebar > .ui-dialog-buttonpane {
  padding: 0px;
  border-top-width: 0px;
  background-color: green;
  border-radius: 8px;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button {
  height: 41px;
  margin: 0px;
  background-color: #398cb5;
  border-width: 2px;
  border-color: #398cb5;
  border-radius: 0px;
  color: white;
  font-weight: bold;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:hover,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:hover {
  background-color: #4da0c9;
  color: white;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:active,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:active {
  background-color: white;
  border-color: white;
  color: #398cb5;
  border-width: 2px;
  border-color: #398cb5;
  font-weight: bold;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div button:focus,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div button:focus {
  outline: none;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div > button:last-child,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div > button:last-child {
  margin-right: 0px;
  border-bottom-right-radius: 8px;
}
.fragm-is-studied-dialog > .ui-dialog-buttonpane > div > button:first-child,
.ui-dialog-titlebar > .ui-dialog-buttonpane > div > button:first-child {
  margin-right: 0px;
  border-bottom-left-radius: 8px;
}
#word-test-box > div.modal-dialog {
  overflow-y: auto;
}
#word-test-box > div.modal-dialog > div {
  background-color: floralwhite;
}
#word-test-box > div.modal-dialog > div > div h4 {
  font-weight: bold;
  color: lightblue;
}
#word-test-box > div.modal-dialog > div > div.modal-body {
  background-color: lightblue;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table {
  color: floralwhite;
  font-weight: bold;
  font-size: 18px;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button {
  border-color: lightblue;
  background-color: lightblue;
  color: yellow;
  font-weight: bolder;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button:hover {
  background-color: lightblue;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button:active {
  background-color: lightblue;
}
@media screen and (min-width: 768px) {
  #word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody > tr:nth-child(1) > td > button {
    font-size: 32px;
  }
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody tr td button {
  border-radius: 10px;
  border-color: lightgreen;
  margin-bottom: 0.5em;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody tr td button:hover {
  background-color: aliceblue;
}
#word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody tr td button:focus {
  outline: none;
  background-color: white;
}
@media screen and (min-width: 768px) {
  #word-test-box > div.modal-dialog > div > div.modal-body > div > div > table > tbody tr td button {
    font-size: 24px;
  }
}
footer {
  margin-bottom: 80px;
}
/*@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

i.rot {
    animation: spin 1s linear 0s infinite;
}*/