@{
    ViewData["Title"] = "Главная";
}


<div class="row">
    <div class="col-md-6">
        <a class="book-img" href="~/Book/BookView/?book_folder=GO1984&book_name=GO1984.txt">
            <h2>1984. George Orwell</h2>
            @*<ul>
                <li>Своеобразный антипод второй великой антиутопии XX века – «О дивный новый мир» Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда «общество потребления» – или доведенное до абсолюта «общество идеи»?По Оруэллу, нет и не может быть ничего ужаснее тотальной несвободы...</li>
                <li><img src="~/images/uHOGAwAAQBAJ.jpg" /></li>
            </ul>*@
            <p>
                Своеобразный антипод второй великой антиутопии XX века – «О дивный новый мир» Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда «общество потребления» – или доведенное до абсолюта «общество идеи»? По Оруэллу, нет и не может быть ничего ужаснее тотальной несвободы...
            </p>
            <img class="book-img" src="~/images/uHOGAwAAQBAJ.jpg" />
        </a>
    </div>
   
</div>
