@{
    ViewData["Title"] = "Главная";
}


<div class="row">
    <div class="col-md-6">
        <a class="book-img" href="~/Book/BookView/?book_folder=GO1984&book_name=GO1984.txt">
            <h3>1984. George Orwell</h3>
            <p>
                Своеобразный антипод второй великой антиутопии XX века – «О дивный новый мир» Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда «общество потребления» – или доведенное до абсолюта «общество идеи»? По Оруэллу, нет и не может быть ничего ужаснее тотальной несвободы...
            </p>
            <img class="book-img" src="/Assets/GO1984/GO1984Header.jpg" style="width: 200px; height: 300px;" />
        </a>
        <a class="btn btn-info" href="~/Book/CreateBookDBFromFile/?book_folder=GO1984&book_name=GO1984.txt">Сохранить в базу</a>
    </div>
   
</div>
